<h1><%= @sub.title %></h1>
<p><%= @sub.description %></p>

<% if current_user.moderator %>
  <%= button_to "Edit Sub", edit_sub_url(@sub), method: :get %>
<% end %>

<ul class="post_index">
  <% @sub.posts.each do |post| %>
  <li>
    <strong>Title: <%= link_to post.title, post_url(post),  method: :get, class: 'link' %></strong>
    
    URL: <%= post.url %>
    Content: <%= post.content %>
    Author: <%= post.author.username %>

  </li>
  <% end %>
</ul>

<br>
<br>
<%= button_to "Sub Topics", subs_url, class: 'btn', method: :get%>
